<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
        http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
        version="2.5">

    <display-name>CRUD</display-name>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <description></description>
        <display-name>RecipeController</display-name>
        <servlet-name>RecipeController</servlet-name>
        <servlet-class>main.java.controller.RecipeController</servlet-class>
    </servlet>
    <servlet>
        <description></description>
        <display-name>FridgeController</display-name>
        <servlet-name>FridgeController</servlet-name>
        <servlet-class>main.java.controller.FridgeController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FridgeController</servlet-name>
        <url-pattern>/FridgeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecipeController</servlet-name>
        <url-pattern>/RecipeController</url-pattern>
    </servlet-mapping>
	  <servlet>  
    <description></description>  
    <display-name>LoginController</display-name>  
    <servlet-name>LoginController</servlet-name>  
    <servlet-class>LoginController</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>LoginController</servlet-name>  
    <url-pattern>/LoginController</url-pattern>  
  </servlet-mapping>  
	  <servlet>  
    <description></description>  
    <display-name>LogoutController</display-name>  
    <servlet-name>LogoutController</servlet-name>  
    <servlet-class>LogoutController</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>LogoutController</servlet-name>  
    <url-pattern>/LogoutController</url-pattern>  
  </servlet-mapping>  
  	  <servlet>  
    <description></description>  
    <display-name>ProfileController</display-name>  
    <servlet-name>ProfileController</servlet-name>  
    <servlet-class>ProfileController</servlet-class>  
  </servlet>  
  <servlet-mapping>  
    <servlet-name>ProfileController</servlet-name>  
    <url-pattern>/ProfileController</url-pattern>  
  </servlet-mapping>
</web-app>